---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: orders-sw
  labels:
    name: orders-sw
    app: orders
  namespace: sock-shop
spec:
  replicas: 1
  template:
    metadata:
      labels:
        name: orders-sw
        app: orders
    spec:
      containers:
      - name: orders-sw
        image: sls-registry.cn-beijing.cr.aliyuncs.com/sls-microservices/orders:sls_0.5
        env:
         - name: OTEL_RESOURCE_ATTRIBUTES
           value: service.name=orders
         - name: OTEL_EXPORTER_OTLP_ENDPOINT
           value: opentelemetry-collector.opentelemetry-collector:55680
         - name: ZIPKIN
           value: zipkin.jaeger.svc.cluster.local
         - name: JAVA_OPTS
           value: -javaagent:/usr/src/app/agent/skywalking-agent.jar -Xms64m -Xmx128m -XX:PermSize=32m -XX:MaxPermSize=64m -XX:+UseG1GC -Djava.security.egd=file:/dev/urandom
        resources:
          limits:
            cpu: 500m
            memory: 500Mi
          requests:
            cpu: 200m
            memory: 500Mi
        ports:
        - containerPort: 80
        securityContext:
          # runAsNonRoot: true
          # runAsUser: 10001
          capabilities:
            drop:
              - all
            add:
              - NET_BIND_SERVICE
          readOnlyRootFilesystem: false
        volumeMounts:
        - mountPath: /tmp
          name: tmp-volume
        livenessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 300
          periodSeconds: 3
        readinessProbe:
          httpGet:
            path: /health
            port: 80
          initialDelaySeconds: 180
          periodSeconds: 3
      volumes:
        - name: tmp-volume
          emptyDir:
            medium: Memory
      nodeSelector:
        beta.kubernetes.io/os: linux
